 img{
    position: relative;
    top: 20px;
    left: 20px;
    width: 45px;
    cursor: pointer;
}
.player-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
iframe{
    border-radius: 10px;
} 
.player-information{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}