.navbar{
    display: flex;
    background-color: rgba(0, 0, 17, 0.568); 
    /* because of the color of the bell icon i was forced to compromise about the color of the navigation bar */
    width: 100%;
    /* position: sticky; */
    justify-content: space-between;
    font-size: 12;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.767) 3% transparent);
    z-index: 1;
    position: fixed;
    height: 70px;
}
.netflix-logo {
    width: 15%;
}
.left-side{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px 2%;
}
.right-side{
    display: flex;
    align-items: center;
    gap: 4px;
    padding-right: 4%;
}
.left-side ul{
    display: flex;
    list-style: none;
    gap: 12px;
}
.right-side .notification-icon{
    width: 20px;
    cursor: pointer;
    width: 30%;
    color: azure;
}
.right-side .profile-icon{
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    position: relative;
    width: 65%;
}
.right-side .profile-icon{
    display: flex;
    width: 65%;
}
.drop-down{
    position:absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #191919;
    padding: 18px 22px;
    border-radius: 2px;
    text-decoration: underline;
    z-index: 1;
    display: none;
}
.drop-down p{
    cursor: pointer;
}
.profile-icon:hover .drop-down{
    display: block;
}
@media (max-width:800px){
    .navbar{
        padding: 20px 5%;
    }
    .left-side ul{
        display: none;
    }
    .navbar img{
        height: 40px;
        width: 80px;
    }
}
@media (max-width:500px){
    .navbar img{
        height: 35px;
    }
    .right-side{
        gap: 8px;
    }
}